[notifier print_start]
url: tgram://8744960427:AAGtw6ksOFYpCDody1WuZY3HSRIunB2rnXY/8253404948
events: started
body: Your printer started printing '{event_args[1].filename}'

[notifier print_complete]
url: tgram://8744960427:AAGtw6ksOFYpCDody1WuZY3HSRIunB2rnXY/8253404948
events: complete
body: Your printer completed printing '{event_args[1].filename}'
# attach: http://192.168.1.100/webcam/?action=snapshot

[notifier print_error]
url: tgram://8744960427:AAGtw6ksOFYpCDody1WuZY3HSRIunB2rnXY/8253404948
events: error
body: {event_args[1].message}
# attach: http://192.168.1.100/webcam/?action=snapshot

[notifier my_telegram_notifier]
url: tgram://8744960427:AAGtw6ksOFYpCDody1WuZY3HSRIunB2rnXY/8253404948
events: *
body: {event_message}
# attach: http://192.168.1.100/webcam/?action=snapshot